<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-col>
      <ion-row
        ><ion-input
          label="Title"
          labelPlacement="stacked"
          placeholder="Enter title"
        ></ion-input
      ></ion-row>
      <ion-row
        ><ion-input
          label="Date"
          labelPlacement="stacked"
          placeholder="Enter date"
        ></ion-input
      ></ion-row>
      <ion-row
        ><ion-input
          label="Description"
          labelPlacement="stacked"
          placeholder="Enter Description"
        ></ion-input
      ></ion-row>
    </ion-col>
    <ion-button shape="round" expand="full">Add</ion-button>
  </ion-grid>
</ion-content>
