<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-col>
      <ion-row
        ><ion-input
          label="Title"
          labelPlacement="stacked"
          placeholder="Enter title"
          [(ngModel)]="title"
        ></ion-input
      ></ion-row>
      <ion-row
        ><ion-input
          type="date"
          label="Date"
          labelPlacement="stacked"
          placeholder="Enter date"
          [(ngModel)]="date"
        ></ion-input
      ></ion-row>
      <ion-row
        ><ion-input
          label="Description"
          labelPlacement="stacked"
          placeholder="Enter Description"
          [(ngModel)]="description"
        ></ion-input
      ></ion-row>
      <ion-row
        ><ion-textarea
          autoGrow
          type="text"
          label="Content"
          labelPlacement="stacked"
          placeholder="Enter Content"
          [(ngModel)]="content"
        ></ion-textarea
      ></ion-row>
    </ion-col>
    <ion-button shape="round" expand="full" (click)="handleAddNewsBtn()"
      >Add</ion-button
    >
  </ion-grid>
</ion-content>
